<!DOCTYPE html>

<html>

<head>
    <title>POKEDEX</title>
</head>

<style>
    .main-content {
        display: grid;
        justify-items: center;
        align-items: center;
        height: 100vh;
    }
</style>


<body>

    <div class="main-content">

        <p>Use this site to get your pokemon!</p>

        <form >  
            <input placeholder="pokeName">
            <button>Search</button>
        </form>
        
        <p id='message-1'> </p>
        <img src="">
        <p id='message-2'> </p>

    </div>
    

    <script src="/js/app.js"></script>
</body>

</html>